.progress-bar .bar {
    -fx-padding: 3px;
    -fx-background-insets: 0;
    -fx-accent: #7296a7;
}

.text-field {
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-border-color: #455A64;
    -fx-focus-color: #455A64 ;
    -fx-faint-focus-color: #455A64 ;
}

.text-field .focus-indicator {
    -fx-border-color: #455A64;
}

.text-field:focused {
    -fx-focus-color: #455A64;

}

.button {
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-border-color: #455A64;
    -fx-background-color: #36454f;
    -fx-text-fill: #d3d3d3;
}

.label{
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 65;
    -fx-border-color: #455A64;
    -fx-text-fill: #d3d3d3;
}